DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
ALLOWED_HOSTS=*

DB_NAME=auth_db
DB_USER=postgres
DB_PASSWORD=123456
DB_HOST=127.0.0.1
DB_PORT=5432

RABBITMQ_URL=amqp://guest:guest@localhost:5672/
USER_REGISTERED_QUEUE=user_registered
